/* You can add global styles to this file, and also import other style files */
body{
    overflow: hidden;
    font-family: montserrat;
}
li{
  a{
    width: 100%;
    display: block;
    padding:20px 0;
    color:inherit;
    text-decoration: none;
  }
}
button{
    padding:5px 15px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
